/* Main Text 2 */


@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* HeXA에서 UNIST 학우를 위한 웹/앱 서비스를 만들어갑니다 */

.ServiceTitle{
    background-color: rgba(0, 0, 0, 0.9)
}
.SponsorTitle{
    min-height: 100px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    vertical-align: baseline;
}
.SponsorDescription{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 38px */
    text-align: center;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.7);
}
.SponsorContact{
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 29px */
    text-align: center;
    white-space: pre-wrap;
    max-width: 500px;
    min-height: 30px;
    color: #FFFFFF;
}
.HexaLogo{
    margin-top: 50px !important;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 90px;
    color: #FFFFFF;
}
.HexaLocation{
    margin-left: 40px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* or 24px */

    color: #FFFFFF;
}
.HexaLicense{
    margin-left: 40px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* or 24px */

    color: #FFFFFF;
}

.newsletter{
    margin-top: 14px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}
.newsletter1{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #F4B91E;
}
.newsTitle{
    margin-top: 20px;
}
.Introtitle{
    margin-left: 60px;
    margin-top: 80px;
    white-space: pre-wrap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}
.Introdescription{
    height:"60%";
    margin-left: 60px;
    white-space: pre-wrap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}
.hexaIntro {
    background: #0A0A50;
    padding-bottom: 20px;
}
.hexaTitle{
    margin-left: 250px;
    margin-right: 250px;
    font-family: 'Asap' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 120%;
/* identical to box height, or 58px */
    text-align: center;
    white-space: pre-wrap;
    color: #FFFFFF;
}
.hexadescription{
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 0px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
    white-space: pre-wrap;
/* or 46px */

    color: #FFFFFF;
}
.ContactTitle{
    margin-left: 100px;
    margin-right: 50px;
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 144%;
/* or 35px */
    text-align: center;
    white-space: pre-wrap;
    min-width: 400px;
    color: black;
    background-color: white;
}
.ContactInfo{
    margin-left: 100px;
    margin-right: 50px;
    font-family: 'Nanum Gothic Coding';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 144%;
    white-space: pre-wrap;
    min-width: 400px;
    min-height: 50px;
    color: #FFFFFF;
    background-color: black;
}
.ExternalLink{
    margin-left: 150px;
    margin-right: 250px;
}
/* .Loginbutton{
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 800;
    font-size: 5px;
    line-height: 18px;
    text-align: center;
} */
.newsContainer{
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 10px;
}
.BusHexaTitle{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    /* or 43px */

    color: #FFFFFF;
}
.BusHexaDescription{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    /* identical to box height, or 29px */

    color: #FFFFFF;
}
.BBextension{
    padding-bottom: 20px;
}

.ArrowLeft{
    transform: scale(1.8);
}
.ArrowRight{
    transform: scale(1.8);
}
.MuiMobileStepper-dots{
    background-color: "rgba(255, 255, 255, 0.5)";
    min-width: 30px;
    min-height: 30px;
}
.MuiMobileStepper-dot{
    background-color: rgba(255, 255, 255, 0.9) !important;
    min-width: 30px;
    min-height: 30px;
}

.MuiMobileStepper-dotActive{
    background-color: #00E0BE !important;
    min-width: 30px;
    min-height: 30px;

}
.MuiMobileStepper-positionStatic{
    width: 150px;
    height: 50px;
}

.techStack{
    border-width: 1em;
    border: solid;
    border-color: #0A0A50;
}

